---
import BaseLayout from "../BaseLayout.astro";
const title = "Repos"
import GetAllRepos from "../../scripts/GetAllRepos";
const repos = await GetAllRepos("silassentinel");
import RepoBtn from "../../components/Buttons/Btn.astro"

import Card from "../../components/Card/Card.astro"
---

<BaseLayout pageTitle={title}>
    <Card title="Repos" subtitle="sub test"  />
  {
      repos &&
          repos.sort((firstRepo: { update_at: string; },nextRepo: { update_at: string; } )=> {
              return Date.parse(firstRepo.update_at) - Date.parse(nextRepo.update_at);
          } ).map((repo: { name: unknown; svn_url: string | URL | null | undefined; }) => (
              <section>
                  <p>name: {repo.name}</p>
                  <RepoBtn url="{repo.svn_url}" text="View Repo" />
              </section>
          ))
  }
</BaseLayout>