---
import { Skill, TechSkill, techSkills } from "../../scripts/ContentBuilder/Identity/core";
---

<div>
    <h3>
        {techSkills[0].Name}
    </h3>
    
    <ul>
        {
            techSkills[0].Tools &&
                techSkills[0].Tools.map((tool: string) => {
                    return <li>{tool}</li>;
                })
        }
    </ul>
</div>
