---
import BaseLayout from "../../layout/BaseLayout.astro";

const posts = await Astro.glob("../posts/*.md");

const uniqueTags = [
    ...new Set(posts?.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle="Tags">
    <div class="tags">

        <ul>
            {
                uniqueTags.map((tag) => (
                    <li class="tags">
                        <a href={`/tags/${tag}` }>{tag}</a>
                        </li>
                        ))
                    }
    </ul>
</div>
</BaseLayout>


<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>