---
// Define the type for the frontmatter
interface Frontmatter {
  title: string;
  author: string;
  pubDate: string;
  // Add other frontmatter properties as needed
}

// Define the type for the post
interface Post {
  frontmatter: Frontmatter;
  url?: string;
  // Add other post properties as needed
}

const posts = await Promise.all(
  Object.entries(import.meta.glob<{ frontmatter: Frontmatter; url?: string }>("../../pages/posts/*.md"))
    .map(([_, resolver]) => resolver())
);
const allPosts = posts as Post[];

---

{
    allPosts &&
    allPosts.map((post) => {
            const title = post.frontmatter.title;
            return (
                <>
                        <li>{post.frontmatter.title}</li>
                        <li>{post.frontmatter.author}</li>
                        <li>{new Date(post.frontmatter.pubDate).toLocaleDateString('nl-BE')}</li>
                        <li>
                            <a href={post.url}>click me</a>
                        </li>
                        <hr/>
                </>
            );
        })
}
