---
const pageTitle = "About Me";

import { identity} from "../scripts/index.js";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>Welcome to my website</p>
    </section>

    <section>
        <h2>Whoami</h2>
        <ul>
            <li>Name: {identity.firstName}</li>
            <li>Country: {identity.country}</li>
            <li>Occupation: {identity.occupation}</li>
            {
                identity.hobbies.length > 0 && (
                    <li>Hobbies: {identity.hobbies.join(", ")}</li>
                )
            }
        </ul>
    </section>

    <section>
        <h2>Skills</h2>
        <blockquote>
            <p>SoftSkills</p>
            <p>Negatives</p>
            <p>positives</p>
        </blockquote>

        <blockquote>
            <p>TechSkills</p>
            <p>FrontEnd</p>
            <p>BackEnd</p>
            <p>DevOps</p>
            <p>Database</p>
            <p>DesktopApplicationDevelopment</p>
            <p>MobileDevelopment</p>
            <p>Testing</p>
            <p>Automation</p>
        </blockquote>
    </section>
</BaseLayout>
