---
const pageTitle = "Blog";
import BaseLayout from "../layout/BaseLayout.astro";
---

        <BaseLayout pageTitle={pageTitle} >
        <ul>
            <li><a href="/posts/bbq/">Post 1</a></li>
            <li><a href="/posts/post1">Post 2</a></li>
            <li><a href="/posts/post2/">Post 3</a></li>
        </ul>
    </BaseLayout >
    </body>
</html>
