---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Home";
import BlogListWrapper from '../Layout/BlogListWrapper.Astro'
---

<BaseLayout pageTitle={pageTitle}>
	<p>homepage</p>
	<h2>My awesome blog subtitle</h2>
	<BlogListWrapper />
</BaseLayout>
