---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Home";
import BlogListLayout from "../layout/BlogListLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
	<p>homepage</p>
	<h2>My awesome blog subtitle</h2>
	<BlogListLayout />
</BaseLayout>
