---
import Greeting from "../components/Greeting";
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Home";
import BlogListWrapper from '../layout/BlogListWrapper.astro'
---

<BaseLayout pageTitle={pageTitle}>
	<p>homepage</p>
	<h2>My awesome blog</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<BlogListWrapper />
</BaseLayout>
