---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<style>
</style>

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
