---
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
</style>

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">tags</a>
    <ThemeIcon/>
  </div>
