---
const allPosts = await Astro.glob("../pages/posts/*.md");
---

{
    allPosts &&
        allPosts.map((post) => {
            const title = post.frontmatter.title;
            return (
                <>
                        <li>{post.frontmatter.title}</li>
                        <li>{post.frontmatter.author}</li>
                        <li>{post.frontmatter.pubDate}</li>
                        <li>
                            <a href={post.url}>click me</a>
                        </li>
                        <hr/>
                </>
            );
        })
}
